
<% if recipe.errors.any? %>
	<div class="recipe-form-error">
		<h3>WARNING: <%= pluralize(recipe.errors.count, "error") %> found:</h3>
		<ul>
			<% recipe.errors.each do |error| %>
				<li><%= error.full_message %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<%= form_with(model: recipe) do |form| %>

	<div>
		<%= form.label :title, style: "display: block" %>
		<%= form.text_field :title %>
	</div>

	<div>
		<%= form.label :typology, style: "display: block"  %>
		<%= form.select :typology, ['', 'First Course', 'Main Course', 'Side', 'Desserts', 'Drinks']%>
	</div>

	<div>
		<%= form.label :description, style: "display: block" %>
		<%= form.text_area :description %>
	</div>

	<div>
		<%= button_tag 'Reset', type: 'reset', class: "btn-as-link-to-btn" %>
		<%= form.submit class: "btn-as-link-to-btn" %>
	</div>

<% end %>
