
<div class="user-recipes-list">
	<h1>User uploaded recipes</h1>

	<% if @recipes.empty? %>
		<br/>
		<p>No recipes uploaded to the website...</p>
	<% else %>

		<% @recipes.reverse.each do |recipe| %>
			<div>
				<div>
					<div>
						<h3><%= recipe.title %></h3>
						<h5><%= recipe.user.email %></h5>
					</div>
					<div>
						<%= link_to 'Show this recipe', recipe, class: "link-to-btn" %>

						<%# Opzione che compare solo se l'utente corrente possiede il ruolo necessario a svolgere l'azione %>
						<% if can? :destroy, recipe %>
							<br/>
							<br/>
							<%= link_to 'DELETE RECIPE', "recipes_destroy/#{recipe.id}" , method: :delete, data: { confirm: 'Are you sure?' } %>
						<% end %>
					</div>
				</div>
				<div>
					<%= recipe.description %>
				</div>
			</div>
		<% end %>

	<% end %>
</div>
