<p style="color: green"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>
<p>
  <strong>Username:</strong>
  <%= @recipe.user.email %>
</p>
<p>
  <strong>Typology:</strong>
  <%= @recipe.typology %>
</p>
<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<% if @recipe.video %>

	<% 
		video_id = @recipe.video.remove("https://www.youtube.com/watch?v=")
		video = Yt::Video.new(id: video_id)
	%>
	
	<div class="container">
		<h1>Video of the recipe</h1>
		<% if !video %>
			<p> The video for this recipe was deleted by its uploader </p>
		<% else %>
			<div class="col-md-4">
				<div class="caption">
					<h2><%= video.title %></h2>
					<p>Published at <b><%= video.published_at.strftime('%-d %B %Y %H:%M:%S') %></b></p>
					<p>Likes: <b><%= video.like_count %></b></p>
				</div>
				<% video_url = "https://www.youtube.com/embed/#{video.id}" %>
				<iframe 
					src= "<%= video_url %>" 
					width="420" height="315" >
				</iframe>
				<div>
					<h3>Video Comments</h3>
					<%
						video_comments = video.comment_threads.first
					%>
					<% if video_comments.nil? %>
						<p>No comments to show for this video...</p>
					<% else %>
						<p><b><%= video_comments.author_display_name %></b></p>
						<p><%= video_comments.text_display %></p>
						<%= link_to "Show more comments", @recipe.video %>
					<%end%>
				</div>
			</div>
		<% end %>
	</div>
<% end %>

<br/>

<%= link_to 'Add Review', new_recipe_review_path(@recipe) %> |
<%= link_to 'All recipes', recipes_path %>

<% if user_signed_in? %>
<!--
  <%= link_to "Back", :back %>
  -->
  <%= link_to '| Back to profile', profiles_path %>
<% end %>

<h2> Reviews: </h2>
  <% if @recipe.reviews.empty? %>
    <p>No reviews for this recipe...</p>
  <% else %>
    <ul>
    <% @recipe.reviews.each do |r| %>
      <table>
        <tr>
          <td>
            <%= r.user.email %>
          </td>
          <td>
            Rating:
          </td>
          <td>
            <%= r.rating %>
          </td>
        </tr>
        <tr>
          <td>
            Description:
          </td>
        </tr>
        <tr>
        <td>
          <%= r.description %>
        </td>
        </tr>
      </table>   
    <% end %>
    </ul>
  <% end %>
<!--
<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
-->
