

<% if review.errors.any? %>
	<div class="recipe-form-error">
		<h3>WARNING: <%= pluralize(review.errors.count, "error") %> found:</h3>
		<ul>
			<% review.errors.each do |error| %>
				<li><%= error.full_message %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<%= form_with(model: review) do |form| %>

	<%# Don't delete, used to make this form similar to the edit form %>
	<div style="display: none;"></div>

	<div>
		<%= form.label :rating, style: "display: block" %>
		<%= form.select :rating, ['', '1', '2', '3', '4', '5'] %>
	</div>

	<div>
		<%= form.label :description, style: "display: block" %>
		<%= form.text_area :description %>
	</div>

	<div>
		<%= button_tag 'Reset', type: 'reset', class: "btn-as-link-to-btn" %>
		<%= form.submit class: "btn-as-link-to-btn" %>
	</div>

<% end %>
