<!DOCTYPE html>
<html>
<head>
<!--
credo che questi link si possano togliere
-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>
<body>


<%# andare a cercare e eliminare il flash notice da qualche controller (mi dice che devo loggarmi quando ritorno alla home dalla barra degli url)%>
<div class="col-lg-12 mt-5">
      <% if flash[:alert] %>
        <div class="alert alert-warning"><%= flash[:alert] %></div>
      <% end %>
      <div class="mx-auto mt-5" style="width: 400px"></div>
</div>


<!--da mettere nella navbar e includerla in tutte le pagine, compreso il codice per fare il login/profilo 
(si dovrebbe inserire tutto in layouts/application.html.erb)
-->
<% if user_signed_in? %>
Logged in as <%= current_user.email%>
<%= button_to "Logout", destroy_user_session_path, :onclick => "return confirm('Are you sure you want to logout?')", method: :delete %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-lg-12 mt-5">
      <div class="mx-auto mt-5" style="width: 400px">
        <%= form_with(url: search_path, method: 'get', local: true) do %>
          <div class="form-group">
            <%= label_tag :recipe, 'Search for a recipe '%>
            <%= text_field_tag :recipe, nil, placeholder: 'Eg. Pasta', class: 'form-control' %>
          </div>
          <%= button_tag 'Search', class: 'btn btn-success btn-block' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<a href="search_diet/glutenfree">Gluten Free</a>
<a href="search_diet/vegetarian">Vegetarian</a>
<a href="search_diet/vegan">Vegan</a>

<h4>Random Recipes:</h4>
    <% @random_recipe.each do |random| %>
    <dl>
        <dd><a href="/search_recipe_info/<%= random['id'] %>"><%= random['title'] %></a></dd>
    </dl>
    <% end %>

<a href="/recipes">Recipe List</a> |

<!-- da inserire nella navbar
-->
<% if user_signed_in? %>
  <a href="/profiles">Profile</a>
<% else %>
  <%= link_to 'Login', new_user_session_path %>
<% end %>


</body>
</html>
