<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>
<body>

<div class="container">
  <div class="row mt-5">
    <div class="col-lg-6">
      <h4>Recipe info</h4>
      <dl>
        <dt>Recipe Id</dt>
        <dd><%= @recipe_info[0]['id'] %></dd>
        <dt>Recipe Title</dt>
        <dd><%= @recipe_info[0]['title'] %></dd>
        <dt>Health Score</dt>
        <dd><%= @recipe_info[0]['healthScore'].to_s %></dd>
        <dt>Price Per Serving</dt>
        <dd><%= @recipe_info[0]['pricePerServing'].to_s %></dd>
      </dl>
    <h4>Ingredients:</h4>
    <% @recipe_info[0]['extendedIngredients'].each do |ingredient| %>
    <dl>
        <dd><a href="/search_ingredient_info/<%= ingredient['id'] %>"><%= ingredient['name'] %></a></dd>
    </dl>
    <% end %>
    <h4>Similar Recipes:</h4>
    <% @recipe_info[1].each do |similar| %>
    <dl>
        <dd><a href="/search_recipe_info/<%= similar['id'] %>"><%= similar['title'] %></a></dd>
    </dl>
    <% end %>

    </div>
  </div>
</div>

</body>
</html>