<div class="ingridient-info">
	<% if !@ingredient_info['image'].nil? %>
	<% image_path = "https://spoonacular.com/cdn/ingredients_500x500/" + @ingredient_info['image'] %>
	<%= image_tag( image_path, class: "soft-shadow") %>
	<% else %>
		<%= image_tag("image-unavailable.png", class: "soft-shadow") %>
	<% end %>

	<div class="soft-shadow">
		<h1><%= @ingredient_info['name'].capitalize %></h1>
		Estimated Cost: <b><%= @ingredient_info['estimatedCost']['value'] %> <%= @ingredient_info['estimatedCost']['unit'] %></b> (per 100 grams)
		<% if !@ingredient_info['nutrition']['caloricBreakdown'].nil? %>
			<table style="width: 100%; margin-top: 20px; font-size: 1.1em;">
				<tr>
					<td style="text-align: left;">
						<b><%= @ingredient_info['nutrition']['caloricBreakdown']['percentProtein'] %>%</b> protein
					</td>
					<td style="text-align: center;">
						<b><%= @ingredient_info['nutrition']['caloricBreakdown']['percentFat'] %>%</b> fat
					</td>
					<td style="text-align: right;">
						<b><%= @ingredient_info['nutrition']['caloricBreakdown']['percentCarbs'] %>%</b> carbs
					</td>
				</tr>
			</table>
		<% end %>
	</div>
	<h4>Nutritional values:</h4>
	<% if !@ingredient_info['nutrition'].nil? %>
		<span><b><%= @ingredient_info['nutrition']['nutrients'].first['name'] %></b>: <%= @ingredient_info['nutrition']['nutrients'].first['amount'] %><%= @ingredient_info['nutrition']['nutrients'].first['unit'] %></span>
		<% @ingredient_info['nutrition']['nutrients'][1,@ingredient_info['nutrition']['nutrients'].length].each do |nutrient| %>
			<span>| <b><%= nutrient['name'] %></b>: <%= nutrient['amount'] %><%= nutrient['unit'] %></span>
		<% end %>
	<% else %>
		Nutritional values not available...
	<% end %>
</div>
