
<div class="official-recipes-search-results">
	<div>
		<h2>Search results for "<%= params["recipe"] %>"</h2>
	</div>
	<div>		
		<% results = @recipe %>
		<% results.each do |r| %>
			<a href="/search_recipe_info/<%= r['id'] %>">
				<h5><%= r['title'] %></h5>
				<div>
					<% if !r['image'].nil? %>
						<%= image_tag(r['image'], class: "soft-shadow") %>
					<% else %>
						<%= image_tag("image-unavailable.png", class: "soft-shadow") %>
					<% end %>
					<div>
						<% formatted_description = sanitize( r['summary'], tags:[]) %>
						<%= truncate(formatted_description, length: 185) %>
					</div>
				</div>
			</a>
		<% end %>
	</div>
</div>
