<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>
<body>

<div class="container">
  <div class="row mt-5">
    <div class="col-lg-6">
      <h4>Ingredient info:</h4>
      <dl>
        <dt>Ingredient Id</dt>
        <dd><%= @ingredient_info['id'] %></dd>
        <dt>Ingredient Name</dt>
        <dd><%= @ingredient_info['name'] %></dd>
        <dt>Ingredient Original Name</dt>
        <dd><%= @ingredient_info['originalName'] %></dd>
        <dt>Consistency</dt>
        <dd><%= @ingredient_info['consistency'] %></dd>
        <dt>Estimated Cost (per 100 grams)</dt>
        <dd><%= @ingredient_info['estimatedCost']['value'] %> <%= @ingredient_info['estimatedCost']['unit'] %></dd>
      </dl>
    <h4>Nutrients:</h4>
    <% if @ingredient_info['nutrition']!=nil %>
        <% @ingredient_info['nutrition']['nutrients'].each do |nutrient| %>
        <dl>
            <dd>Name: <%= nutrient['name'] %></dd> 
            <dd>Amount: <%= nutrient['amount'] %></dd>
            <dd>Unit: <%= nutrient['unit'] %></dd> 
            <dd>Percent of Daily Needs: <%= nutrient['percentOfDailyNeeds'] %></dd>
        </dl>
        <% end %>
    <% else %>
        non sono stati trovati i nutrienti
    <% end %>
    </div>
  </div>
</div>

</body>
</html>